@import 'src/assets/styles/variables';

.main-page {
  text-align: center;

  &__logo {
    height: 40vmin;
    pointer-events: none;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: $white;
    background-color: $headerColor;
  }

  &__link {
    color: $linkColor;
  }
}

@media (prefers-reduced-motion: no-preference) {

  .main-page__logo {
    animation: main-page-logo-spin infinite 20s linear;
  }
}

@keyframes main-page-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
