html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

// Переполнение контента для модальных окон
.overlay-base {
  box-sizing: border-box;
  position: fixed !important; //stylelint-disable-line
  z-index: 10 !important; //stylelint-disable-line
  top: 0 !important; //stylelint-disable-line
  right: 0 !important; //stylelint-disable-line
  bottom: 0 !important; //stylelint-disable-line
  left: 0 !important; //stylelint-disable-line
  display: block !important; //stylelint-disable-line
  height: 100% !important; //stylelint-disable-line
  padding: 8px !important; //stylelint-disable-line
  overflow-y: auto !important; //stylelint-disable-line
  line-height: calc(100vh - 16px) !important; //stylelint-disable-line
  text-align: center !important; //stylelint-disable-line
  cursor: pointer;
}

.content-after {
  display: inline-block !important; //stylelint-disable-line
  line-height: 16px !important; //stylelint-disable-line
  text-align: left !important; //stylelint-disable-line
  vertical-align: middle !important; //stylelint-disable-line
}

