@import "mixins";

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local(''),
  url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v30-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local(''),
  url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v30-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v30-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
}

// Предустановленные стили для типографики.
// Цель - сокращение написания кода
// Применение - там, где есть доступ к HTML классам, просто добавляем класс типографики
// (<p className="tp-18-24-500-italic block__name"></p>)
// Там, где доступа к HTML классам нет, пишем названия миксина (@include tp-18-24-500-italic)
// Формула написания - tp-${font-size}-${line-height}-${font-weight}-${?font-style}
// (?font-style плавающий, если font-style: normal, его значение в конце не пишется)
// Данную конструкцию лучше всего привязать к токенам в фигме, чтобы удобнее было работать со шрифтами
// Пример - tp-18-24-500-italic
//{
//  font-size: 18px;
//  font-style: italic;
//  font-weight: 500;
//  line-height: 24px;
//}

.tp-14-16-400 {
  @include tp-14-16-400;
}

.tp-19-23-400 {
  @include tp-19-23-400;
}

// Предустановленные стили для цвета шрифта
// Цель - сокращение написания кода
// Применение - там, где есть доступ к HTML классам, просто добавляем класс цвета шрифта
// (<p className="tp-color-gray-8 block__name"></p>)
// Там, где доступа к HTML классам нет, пишем названия миксина (@include tp-color-gray-8)
// Формула написания - tp-color-${css-custom-property}
// Данную конструкцию лучше всего привязать к токенам в фигме, чтобы удобнее было работать с цветами шрифта
// Пример - tp-color-gray-8
//{
//  color: var(--gray-8);
//}

.tp-color-gray-8 {
  @include tp-color-gray-8;
}

.tp-color-gray-9 {
  @include tp-color-gray-9;
}

body {
  @include tp-14-16-400;
  @include tp-color-gray-9;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

*::-webkit-input-placeholder {
  @include tp-19-23-400;
  @include tp-color-gray-9;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
}

*:-moz-input-placeholder {
  @include tp-19-23-400;
  @include tp-color-gray-9;
  font-family: 'Roboto', sans-serif;
  opacity: 1;

}

*::-moz-placeholder {
  @include tp-19-23-400;
  @include tp-color-gray-9;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
}

*:-ms-input-placeholder {
  @include tp-19-23-400;
  @include tp-color-gray-9;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
}

