@import 'src/assets/styles/variables';

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local(''),
  url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v30-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local(''),
  url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v30-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v30-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: $black;
}

*::-webkit-input-placeholder {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 23px;
  color: $input-placeholder;
  opacity: 1;
}

*:-moz-input-placeholder {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 23px;
  color: $input-placeholder;
  opacity: 1;

}

*::-moz-placeholder {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 23px;
  color: $input-placeholder;
  opacity: 1;
}

*:-ms-input-placeholder {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 23px;
  color: $input-placeholder;
  opacity: 1;
}

